@model MVCAppWithDBFirstApproachUsingSP.Models.Student_Select_Result

@{
    ViewBag.Title = "DeleteStudent";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Delete Student</h2>

@using (Html.BeginForm("DeleteStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table border="1">
        <caption>Student Details</caption>
        <tr>
            <td rowspan="4"><img src='~/Uploads/@Model.Photo' width="200" height="200" /></td>
            <td>Sid: @Model.Sid @Html.HiddenFor(S => S.Sid)</td>
        </tr>
        <tr><td>Name: @Model.Name</td></tr>
        <tr><td>Class: @Model.Class</td></tr>
        <tr><td>Fees: @Model.Fees</td></tr>
    </table>
    <font color="red">Are you sure of deleting the record ?</font>
    <input type="submit" value="Yes" />
}

@using(Html.BeginForm("DisplayStudents", "Student"))
{
    <text>Click</text><input type="submit" value="No"/> @:form going back to student details.
}

