@model  MVCAppWithDBFirstApproachUsingSP.Models.Student_Select_Result

@{
    ViewBag.Title = "DisplayStudent";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Student Details</h2>

<table border="1" align="center">
    <tr>
        <td rowspan="4"><img src="~/Uploads/@Model.Photo" width="200" height="200"></td>
        <td>Sid: @Model.Sid</td>
    </tr>
    <tr><td>Name: @Model.Name</td></tr>
    <tr><td>Class: @Model.Class</td></tr>
    <tr><td>Fees: @Model.Fees</td></tr>
    <tr>
        <td colspan="2" align="center">@Html.ActionLink("Back to Student Details", "DisplayStudents")</td>
    </tr>
</table>

