@model MVCAppCodeFirstWithDBParameters.Models.Supplier

@{
    ViewBag.Title = "AddSupplier";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Add Supplier</h2>

@using (Html.BeginForm("AddSupplier", "Supplier", FormMethod.Post))
{
    <div>@Html.LabelFor(S => S.Sid)<br />@Html.TextBoxFor(S => S.Sid)</div>
    <div>@Html.LabelFor(S => S.SupplierName)<br />@Html.TextBoxFor(S => S.SupplierName)</div>

    <div>
        <input type="submit" value="Save" name="btnSave" />
        <input type="reset" value="Reset" />
    </div>
}

@Html.ActionLink("Back to Suppliers details", "GetSuppliers")



