@model MVCLinqWithMultipleDBTables.Models.EmpDept

@{
    ViewBag.Title = "AddEmployee";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Add New Student</h2>

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>@Html.LabelFor(E => E.Ename)<br />@Html.TextBoxFor(E => E.Ename)</div>
    <div>@Html.LabelFor(E => E.Job)<br />@Html.TextBoxFor(E => E.Job)</div>
    <div>@Html.LabelFor(E => E.Salary)<br />@Html.TextBoxFor(E => E.Salary)</div>
    <div>@Html.Label("Departments")<br />@Html.DropDownListFor(E => E.Did, Model.Departments, "-Select Department-")</div>

    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
}

@Html.ActionLink("Back to Employee details", "DisplayEmployees")


