@model MVCAppWithCodeFirstApproach.Models.Product

@{
    ViewBag.Title = "Displayproduct";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Product Details</h2>

<table border="1" align="center">
    <tr>
        <td rowspan="7">
            <img src="~/Uploads/@Model.ProductImageName" width="200" height="200" alt="No Image" />
        </td>
        <td>Product ID: @Model.Id</td>
    </tr>
    <tr><td>Product Name: @Model.ProductName</td></tr>
    <tr><td>Product Name: @Model.UnitPrice</td></tr>
    <tr><td>Product Name: @Model.CategoryId</td></tr>
    <tr><td>Product Name: @Model.Category.CategoryName</td></tr>
    <tr><td>Product Name: @Model.Category.Description</td></tr>
    <tr><td colspan="2" align="center">@Html.ActionLink("Back to product details", "DisplayProducts")</td></tr>
</table>