@model MVCLinqToStoredProcedures.Models.Student_SelectResult

@{
    ViewBag.Title = "AddStudent";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Add New Student</h2>

@using (Html.BeginForm("AddStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>@Html.LabelFor(S => S.Sid)<br />@Html.TextBoxFor(S => S.Sid)</div>
    <div>@Html.LabelFor(S => S.Name)<br />@Html.TextBoxFor(S => S.Name)</div>
    <div>@Html.LabelFor(S => S.Class)<br />@Html.TextBoxFor(S => S.Class)</div>
    <div>@Html.LabelFor(S => S.Fees)<br />@Html.TextBoxFor(S => S.Fees)</div>
    <div>@Html.LabelFor(S => S.Photo)<br /><input type="file" name="selectedFile" /></div>

    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
}

