@model IEnumerable<MVCAppWithDBModelTablePerHierarchyTypeExample.Models.Student>
@{
    ViewBag.Title = "DisplayStudents";
}

<h2>DisplayStudents</h2>

<table border="1" align="center">
    <tr>
        <th>@Html.DisplayNameFor(S => S.Id) </th>
        <th>@Html.DisplayNameFor(S => S.Name)</th>
        <th>@Html.DisplayNameFor(S => S.Phone)</th>
        <th>@Html.DisplayNameFor(S => S.Address)</th>
        <th>@Html.DisplayNameFor(S => S.Class)</th>
        <th>@Html.DisplayNameFor(S => S.Marks)</th>
        <th>@Html.DisplayNameFor(S => S.Fees)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(S => item.Id)</th>
            <th>@Html.DisplayFor(S => item.Name)</th>
            <th>@Html.DisplayFor(S => item.Phone)</th>
            <th>@Html.DisplayFor(S => item.Address)</th>
            <th>@Html.DisplayFor(S => item.Class)</th>
            <th>@Html.DisplayFor(S => item.Marks)</th>
            <th>@Html.DisplayFor(S => item.Fees)</th>
        </tr>
    }
</table>

@Html.ActionLink("Go to Display People", "DisplayPeople")

