@model MVCLinqToSQL.Models.Student

@{
    ViewBag.Title = "EditStudent";
}

<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Edit existing Student</h2>

@using (Html.BeginForm("UpdateStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>@Html.LabelFor(S => S.Sid)<br />@Html.TextBoxFor(S => S.Sid, new { @readonly = true })</div>
    <div>@Html.LabelFor(S => S.Name)<br />@Html.TextBoxFor(S => S.Name)</div>
    <div>@Html.LabelFor(S => S.Class)<br />@Html.TextBoxFor(S => S.Class)</div>
    <div>@Html.LabelFor(S => S.Fees)<br />@Html.TextBoxFor(S => S.Fees)</div>
    <div>
        @Html.LabelFor(S => S.Photo)<br />
        <img src="~/Uploads/@Model.Photo" width="75" height="75">
        <input type="file" name="selectedFile" />
    </div>

    <div>
        <input type="submit" value="Submit" />
        @Html.ActionLink("Cancel", "DisplayStudents")
    </div>
}



